* 
{
    margin: 0;
    padding: 0;
  }
  
  a {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  nav a img {
    margin-top: 5px;
    width: 150px;
    padding: 150px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #E6E6FA;
    height: 10vh;
  }
  
  
  main {
    background:  no-repeat center center;
    background-size: cover;
    height: 10vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(104, 224, 124);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .div ,p, h1, h2, h3 {
  text-align: center;
  size: 15;
  }

  .div{
    background-color: cornflowerblue;
  }
  




  


label {
    position: relative;
    display: block;
    color: white;
    background-color: #3b6978;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    user-select: none;
    cursor: pointer;
   
}

.options {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-height: 0em;
    transition: max-height 0.3s;
    border-bottom: 4px solid #172f3b;
   

}

.options > a {
    background-color: #cae8d5;
    display: block;
    padding: 15px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

label:hover {
    background-color: #204051;
}

.options > a:hover {
    background-color: #84a9ac;
}

input {
    display: none;
}

input:checked ~ .options {
    max-height: 10em;
    transition: max-height 0.3s;
}
  









main.cards {

  display: flex;

  padding: 0;

  justify-content: center;

  align-items: center;
  
  }
  
  
  
  
  main.cards section.card {
  
  display: flex;
 
  flex-direction: column;
 
  align-items: center;
 
  text-align: center;
 
  background: white;
 
  padding: 1rem 1.5rem;
 
  border-radius: 8px;
 
  max-height: 800px;
 
  margin-left: 60px;
 
  }
  
  
  
  
  main.cards section.card:first-child {
  
   margin-left: 0;
  
  }
  
  
  
  
  main.cards section.card .icon {
  
   width: 200px;

   height: 200px;

  }
  
  
  
  
  main.cards section.card img {
  
 width: 100%;
  
  }
  
  
  
  
  main.cards section.card h3 {
  
   font-size: 100%;

   margin: 16px 0;

  }
  
  
  
  
  main.cards section.card p {
  
   font-weight: 300;

   max-width: 650px;

   font-size: 25px;

   margin-bottom: 20px;

   line-height:30px;

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
  
  }
  
  
  
  
  
  
  
  
  
  main.cards section.card.shop button {
  
  background: linear-gradient(to right, #3E8AFF, #BBDEFF);
  
  }
  
  main.cards section.card.about button {
  
 background: linear-gradient(to right, #FE5F8F, #FFC7D9);
  
  }
  
  
  
  
  
  main.cards section.card.shop {
  
  box-shadow: 40px 20px 50px -15px #AFD6FF;
  
  }
  
  main.cards section.card.about {
  
  box-shadow: 40px 20px 50px -15px #FFC1D5;
  
  }
  
  
  
  
  @media screen and (max-width: 720px) {
  
  main.cards {
  
  flex-direction: column;
  
 }
  
  
  
  
  main.cards section.card {

  margin-left: 0;

  margin-bottom: 32px;
  }

  
  
  
   main.cards section.card:last-child {

   margin-bottom: 0;

   }
  
  
  
  
  main.cards section.card button {
  font-size:70%;
   }
  
  
  
  
  }