* 
{
    margin: 0;
    padding: 0;
  }
  
  a {
    font-size: 19px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  nav a img {
    margin-top: 5px;
    width: 150px;
    padding: 150px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #E6E6FA;
    height: 10vh;
  }
  
  
  main {
    background:  no-repeat center center;
    background-size: cover;
    height: 10vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: rgb(104, 224, 124);
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .div ,p, h1, h2, h3 {
  text-align: center;
  size: 15;
  }

  .div{
    background-color: cornflowerblue;
  }
  




  


label {
    position: relative;
    display: block;
    color: white;
    background-color: #5f73e4;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.options {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-height: 0em;
    transition: max-height 0.5s;
    border-bottom: 4px solid #5166da;
}

.options > a {
    background-color: cornflowerblue;
    display: block;
    padding: 15px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

label:hover {
    background-color: #5d65a8;
}

.options > a:hover {
    background-color: #5166da;
}

input {
    display: none;
}

input:checked ~ .options {
    max-height: 10em;
    transition: max-height 0.5s;
}
  
.pergunta4{
  text-align: center;
}